.container {
    width: 100vw;
    height: 100vh;
}
.container .layout {
    width: 100%;
    height: 100%;
}
.container .header {
    color: #009688;
}

.container .content {
    width: 100%;
    height: 100%;
    overflow: scroll;
}